:root {
	--bordeaux: #4b0000;
	--bgHTML: rgb(30, 30, 30);
	--bgseccion:rgb(23, 42, 23); 
	--bgseccionhh:rgba(23, 42, 23);
	--bgsubseccion: rgba(44, 74, 44, 0.7);
	--bgsubseccionhh: rgba(44, 74, 44, 0.7);
	--bgarticulo: rgb(67, 90, 90);
	--bgarticulohh: rgb(67, 90, 90);
}

*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

h3 {
	padding: 0.5vh 0;
	min-width: 70vw;
	width:75%;
	text-align: center;
	color: white;
	background-color: var(--bordeaux);
	border-radius: 5px;
	margin: 1vh auto;
}

h4 {
	 color: white;
	padding: 0.2vh 0;
	background-color: var(--bordeaux);
	width: 80%;
	margin: auto;
	border-radius: 5px;
	margin-top: 0.5vh;
	/* margin-bottom: 0.5vh; */
 }
 
.boton{
	justify-content: flex-end;
	align-content: flex-end;
	padding: 0 4px 10px;
	
}

 main {
	margin-top: 2vh;
	height: auto;
 }
 
 .tipos div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: auto 0;
	margin: 1vh auto;
	width: 100%;
	border: solid 1px var(--bordeaux);
	background-color: var(--bgarticulo);
	border-radius: 10px;
 }
 
.thtipo{
	width: 20%;
	font-weight: bold;
}

  .hhtipos div{
	display: flex;
	justify-content: space-between;
	/* padding: auto 3vw; */
	margin: 1vh auto;
	background-color:var(--bgarticulohh);
	border: solid 1px var(--bordeaux);
	border-radius: 10px;
 } 
 
 .tipos div span {
	padding: 1vw 2vw;
	/*   padding-left: 2vw;
	padding-right: 2vw; */
 }
 
 /* .tipos div:nth-child(n + 2) {
	border-top: none;
 } */
 
 .precio {
	white-space: pre;
	display:flex;
	font-size: 0.9rem;
	margin-left: 2vw;
	text-align: left;
	width: 45%;
	align-items: center;
	justify-content: space-evenly;
 }
 
 .titular {
	margin: 1vw auto;
 }
 
 .tipo {
	width: 55%;
	text-align: left;
 }
 
 p .mini {
	position: absolute;
	bottom: 0;
	padding: 0;
	width: 90vw;
 }
 
 .mini {
	margin: 0;
	font-size: 0.7rem;
 }

 .demo{
	background-color: var(--bgarticulo);
 }
 
 .seccion1 {
	margin: auto;
	overflow: hidden;
	text-align: center;
	width: 70%;
	padding: 0.5vh 0;
	background-color: var(--bgseccion);
	border-radius: 5px;
	/* height: 0; */
 }
 
 .articulo1 {

	transition: var(--time);
	overflow: hidden;
	background-color: var(--bgsubseccion);
	padding: 0 2vw;
	color:white;
	width: 90%;	
	margin: 2vh auto;
	border-radius: 5px;
	border: solid 1px var(--bordeaux);
	border-radius: 3vw;
	/* height: 0; */
 }

table{
  width:90vw;
  margin-bottom:5vh;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

th{
  border: black solid 1px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
}

tr{
  position: relative;
  min-height: 10vh;
  border-color:blue;
  margin-bottom: 10px;
}


td{
  position: relative;
  border: black solid 1px;
  background-color: transparent;
}

td textarea{
  min-height: 100%;
  height: auto;
  width:100%;
  background-color: transparent;
  resize: vertical;
}

input{
  background-color: transparent;

}

.modif{
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:fixed;
  right:2vw;
  top:40%;
} 

.monto{
width:8vw;
}

td textarea{
	min-height: 3.5em;
}

button{
  padding: 0 5px;
  height: 40%;
}